<!-- templates/news2u/publish_newsletter_by_publisher.html -->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    News2U - Publish by Publisher
{% endblock %}

{% block content %}
    <h2>Publish Newsletter</h2>
    <p><strong>Status:</strong>
        ALL newsletters are subject to the approval by an editor.</p>

    <h3>{{ newsletter.newsletter_title }}</h3>
    <p>{{ newsletter.newsletter_content }}</p>

        {% if not newsletter.is_approved %}
        <p><em>This newsletter is pending editor approval.</em></p>

        {% else %}
            <h4>Publish your Newsletter Now</h4>
            <form method="post"
            action="{% url 'publish_newsletter_by_publisher' newsletter.id %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit"
                class="alt-button">
                    Publish
                </button>
            </form>
        {% endif %}

    <a href="{% url 'view_newsletter_publication_requests' %}">Go Back</a>
{% endblock %}