<!-- templates/news2u/register_reader.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    News2U - Reader Registration
{% endblock %}

{% block content %}
    <h2>Welcome to News2U!</h2>
    <h3>Reader Registration</h3>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br/>
            <button type="submit" class="button">
                Register as Reader
            </button>
        </form>
    </div>
{% endblock %}