<!-- templates/news2u/select_editor_newsletter.html -->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    News2U - Select Editor
{% endblock %}

{% block content %}

        <h3>Submit for Editor Review</h3>
        <div class="option">
            <h4>Select your editor</h4>
            <p>
                Newsletters can only be published after review by an editor.
                    <div class="article-preview">
                        <p><strong>" {{ newsletter.newsletter_title }} "</strong></p>
                        <p>{{ newsletter.newsletter_content }}</p>
                        <p><em>Includes Articles:</em></p>
                        <ul>
                            {% for article in newsletter.articles.all %}
                                <li>{{ article.article_title }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br/>
                    <button type="submit" class="button">Submit to Editor</button>
                <a href="{% url 'home' %}" class="button">Cancel</a>
            </form>

{% endblock %}