<!-- templates/news2u/view_my_journalists.html -->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    News2U - My Journalists
{% endblock %}

{% block content %}
    <h2>My Journalists</h2>
    {% if journalists %}
        <ul class="editor-list">
            {% for journalist in journalists %}
            <li>
                <h3 style="text-align: left;">{{ journalist.journalist_name }}</h3>
                <p>{{ journalist.journalist_bio|truncatewords:20 }}</p>

                {% if journalist.journalist_photo %}
                    <img src="{{ journalist.journalist_photo.url }}"
                    alt="{{ journalist.journalist_name }}"
                    class="profile-picture">
                {% endif %}
                <p><strong>Published With:</strong></p>
                {% if journalist.associated_publishers %}
                    <ul>
                        {% for publisher in journalist.associated_publishers %}  
                            <li>{{ publisher.publisher_name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Independent only</p>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No journalists found.</p>
    {% endif %}
    <p>
        <a href="{% url 'view_all_journalists' %}">View All Journalists</a>
    </p>
    <p>
        {% if is_publisher %}
        <a href="{% url 'publisher_dashboard' %}">Back to Dashboard</a>
        {% elif is_editor %}
        <a href="{% url 'editor_dashboard' %}">Back to Dashboard</a>
        {% endif %}
    </p>
{% endblock %}